@{
    ViewBag.Title = "Posts";
}

<h1>Posts Index</h1>
    
<p>
    <a href="@Url.RouteUrl("login")">Click Here</a> to log in
</p>
    
<p>
    @Html.RouteLink("Click here", "login") to login!
</p>

<!--- Sections can go anywhere on the cshtml -->
@section Scripts
{
    
}
